<%= form_with(model: estoque, local: true) do |form| %>
  <% if estoque.errors.any? %>
    <div class="alert alert-danger">
      <h4><%= pluralize(estoque.errors.count, "erro") %> <%= "encontrado".pluralize(estoque.errors.count) %>:</h4>
      <ul>
        <% estoque.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :codigo, class: "form-label" %>
    <%= form.text_field :codigo, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :quantidade, class: "form-label" %>
    <%= form.number_field :quantidade, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :peca_id, "Peça", class: "form-label" %>
    <%= form.collection_select :peca_id, pecas, :id, :nome, { prompt: "Selecione uma peça" }, { class: "form-select" } %>
  </div>

  <div class="text-end">
    <%= form.submit "Salvar", class: "btn btn-primary" %>
  </div>
<% end %>
