<p style="color: green"><%= notice %></p>

<%= render @estoque %>

<div>
  <%= link_to "Editar estoque", edit_estoque_path(@estoque) %> |
  <%= link_to "Voltar para estoques", estoques_path %>

  <%= button_to "Excluir estoque", @estoque, method: :delete %>
</div>
