<%= form_with(model: peca, local: true) do |form| %>
  <% if peca.errors.any? %>
    <div class="alert alert-danger">
      <h4><%= pluralize(peca.errors.count, "erro") %> <%= "encontrado".pluralize(peca.errors.count) %>:</h4>
      <ul>
        <% peca.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :codigo, "Código", class: "form-label" %>
    <%= form.text_field :codigo, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :nome, "Nome", class: "form-label" %>
    <%= form.text_field :nome, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :preco, "Preço", class: "form-label" %>
    <%= form.text_field :preco, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :tipo, "Tipo", class: "form-label" %>
    <%= form.text_field :tipo, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :fabricante, "Fabricante", class: "form-label" %>
    <%= form.text_field :fabricante, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :data_validade, "Data de Validade", class: "form-label" %>
    <%= form.date_field :data_validade, class: "form-control" %>
  </div>

  <div class="text-center">
    <%= form.submit "Salvar", class: "btn btn-primary" %>
  </div>
<% end %>
