<div id="<%= dom_id peca %>">
  <p>
    <strong>Codigo:</strong>
    <%= peca.codigo %>
  </p>

  <p>
    <strong>Nome:</strong>
    <%= peca.nome %>
  </p>

  <p>
    <strong>Preco:</strong>
    <%= peca.preco %>
  </p>

  <p>
    <strong>Tipo:</strong>
    <%= peca.tipo %>
  </p>

  <p>
    <strong>Fabricante:</strong>
    <%= peca.fabricante %>
  </p>

  <p>
    <strong>Data validade:</strong>
    <%= peca.data_validade %>
  </p>

</div>
