<div id="<%= dom_id peca %>">
  <p>
    <strong>Código:</strong>
    <%= peca.codigo %>
  </p>

  <p>
    <strong>Nome:</strong>
    <%= peca.nome %>
  </p>

  <p>
    <strong>Preço:</strong>
    <%= peca.preco %>
  </p>

  <p>
    <strong>Tipo:</strong>
    <%= peca.tipo %>
  </p>

  <p>
    <strong>Fabricante:</strong>
    <%= peca.fabricante %>
  </p>

  <p>
    <strong>Data de validade:</strong>
    <%= peca.data_validade %>
  </p>

</div>
