<p style="color: green"><%= notice %></p>

<% content_for :title, "Peças" %>


<div class="d-flex justify-content-between align-items-center mb-3">
  <h1>Peças</h1>
  <%= link_to "Nova peça", new_peca_path, class: "btn btn-primary" %>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Código</th>
      <th>Nome</th>
      <th>Preço</th>
      <th>Tipo</th>
      <th>Fabricante</th>
      <th>Data de Validade</th>
      <th colspan="3">Ações</th>
    </tr>
  </thead>
  <tbody>
    <% @pecas.each do |peca| %>
      <tr>
        <td><%= peca.codigo %></td>
        <td><%= peca.nome %></td>
        <td><%= number_to_currency(peca.preco, unit: "R$") %></td>
        <td><%= peca.tipo %></td>
        <td><%= peca.fabricante %></td>
        <td><%= peca.data_validade.strftime("%d/%m/%Y") %></td>
        <td><%= link_to "Exibir", peca, class: "btn btn-info btn-sm" %></td>
        <td><%= link_to "Editar", edit_peca_path(peca), class: "btn btn-warning btn-sm" %></td>
        <td>
          <%= link_to "Excluir", peca, method: :delete, data: { confirm: "Tem certeza que deseja excluir esta peça?" }, class: "btn btn-danger btn-sm" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>



