<p style="color: green"><%= notice %></p>

<%= render @peca %>

<div>
  <%= link_to "Edit this peca", edit_peca_path(@peca) %> |
  <%= link_to "Back to pecas", pecas_path %>

  <%= button_to "Destroy this peca", @peca, method: :delete %>
</div>
