<p style="color: green"><%= notice %></p>

<%= render @peca %>

<div>
  <%= link_to "Editar peça", edit_peca_path(@peca) %> |
  <%= link_to "Voltar para peças", pecas_path %>

  <%= button_to "Excluir peça", @peca, method: :delete %>
</div>
