<%= form_with(model: servico, local: true) do |form| %>
  <% if servico.errors.any? %>
    <div class="alert alert-danger">
      <h4><%= pluralize(servico.errors.count, "erro") %> <%= "encontrado".pluralize(servico.errors.count) %>:</h4>
      <ul>
        <% servico.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :codigo, class: "form-label" %>
    <%= form.text_field :codigo, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :nome, class: "form-label" %>
    <%= form.text_field :nome, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :descricao, class: "form-label" %>
    <%= form.text_area :descricao, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :preco, class: "form-label" %>
    <%= form.text_field :preco, class: "form-control" %>
  </div>

  <div class="text-center">
    <%= form.submit "Salvar", class: "btn btn-primary" %>
  </div>
<% end %>
