<p style="color: green"><%= notice %></p>

<% content_for :title, "Serviços" %>


<div class="d-flex justify-content-between align-items-center mb-3">
  <h1>Serviços</h1>
  <%= link_to "Novo serviço", new_servico_path, class: "btn btn-primary" %>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Código</th>
      <th>Nome</th>
      <th>Descrição</th>
      <th>Preço</th>
      <th colspan="3">Ações</th>
    </tr>
  </thead>
  <tbody>
    <% @servicos.each do |servico| %>
      <tr>
        <td><%= servico.codigo %></td>
        <td><%= servico.nome %></td>
        <td><%= servico.descricao %></td>
        <td><%= number_to_currency(servico.preco, unit: "R$", separator: ",", delimiter: ".") %></td>
        <td><%= link_to "Exibir", servico, class: "btn btn-info btn-sm" %></td>
        <td><%= link_to "Editar", edit_servico_path(servico), class: "btn btn-warning btn-sm" %></td>
        <td>
          <%= confirm_delete_button "Excluir", servico, { class: "btn btn-danger btn-sm" } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
