<p style="color: green"><%= notice %></p>

<%= render @servico %>

<div>
  <%= link_to "Editar servico", edit_servico_path(@servico) %> |
  <%= link_to "Voltar para servicos", servicos_path %>

  <%= button_to "Excluir servico", @servico, method: :delete %>
</div>
