<%= form_with(model: administrador, local: true) do |form| %>
  <% if administrador.errors.any? %>
    <div class="alert alert-danger">
      <h4><%= pluralize(administrador.errors.count, "erro") %> <%= "encontrado".pluralize(administrador.errors.count) %>:</h4>
      <ul>
        <% administrador.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :email, class: "form-label" %>
    <%= form.email_field :email, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :senha, class: "form-label" %>
    <%= form.password_field :senha, class: "form-control" %>
  </div>

  <div class="text-end">
    <%= form.submit "Salvar", class: "btn btn-primary" %>
  </div>
<% end %>
