<div id="<%= dom_id agendamento %>">
  <p>
    <strong>Veiculo:</strong>
    <%= agendamento.veiculo_id %>
  </p>

  <p>
    <strong>Servico:</strong>
    <%= agendamento.servico_id %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= agendamento.status %>
  </p>

  <p>
    <strong>Data:</strong>
    <%= agendamento.data %>
  </p>

</div>
