<div id="<%= dom_id atendimento %>">
  <p>
    <strong>Data inicio:</strong>
    <%= atendimento.data_inicio %>
  </p>

  <p>
    <strong>Data termino:</strong>
    <%= atendimento.data_termino %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= atendimento.status %>
  </p>

  <p>
    <strong>Veiculo:</strong>
    <%= atendimento.veiculo_id %>
  </p>

</div>
