<div id="<%= dom_id(atendimento) %>">
  <p>
    <strong>Data início:</strong>
    <%= atendimento.data_inicio %>
  </p>

  <p>
    <strong>Data término:</strong>
    <%= atendimento.data_termino %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= atendimento.status %>
  </p>

  <p>
    <strong>Cliente:</strong>
    <%= atendimento.veiculo.cliente.nome %>
  </p>

  <p>
    <strong>Veículo:</strong>
    <%= atendimento.veiculo.modelo %>
  </p>

  <p>
    <strong>Funcionários:</strong>
  <ul>
    <% atendimento.funcionarios.each do |funcionario| %>
      <li><%= funcionario.nome %> - <%= funcionario.cargo %></li>
    <% end %>
  </ul>
  </p>
</div>
