<%= form_with(model: atendimento, local: true) do |form| %>
  <% if atendimento.errors.any? %>
    <div class="alert alert-danger">
      <h4><%= pluralize(atendimento.errors.count, "erro") %> <%= "encontrado".pluralize(atendimento.errors.count) %>:</h4>
      <ul>
        <% atendimento.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :cliente_id, "Cliente", class: "form-label" %>
    <%= form.collection_select :cliente_id, Cliente.all, :id, :nome, { prompt: "Selecione um cliente" },
                               class: "form-select",
                               data: { controller: "cliente",  action: "cliente#update_select_veiculos" }
    %>
  </div>

  <div class="mb-3">
    <%= form.label :veiculo_id, "Veículo", class: "form-label" %>
    <%= form.collection_select :veiculo_id, [], :id, :modelo, { prompt: "Selecione um veículo" }, { class: "form-select", id: "veiculo_select" } %>
  </div>

  <div class="mb-3">
    <%= form.label :data_inicio, class: "form-label" %>
    <%= form.datetime_field :data_inicio, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :data_termino, class: "form-label" %>
    <%= form.datetime_field :data_termino, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :servico_id, class: "form-label" %>
    <%= form.collection_select :servico_id, Servico.all, :id, :nome, { prompt: "Selecione um serviço" }, { class: 'form-select' } %>
  </div>

  <div class="mb-3">
    <%= form.label :status, class: "form-label" %>
    <%= form.select :status, Atendimento.statuses.keys.map { |status| [status.humanize, status] },
                    { prompt: "Selecione um status" },
                    { class: "form-select" } %>
  </div>

  <% if Funcionario.any? %>
    <div class="mb-3">
      <%= form.label :funcionarios, "Funcionários", class: "form-label" %>
      <%= form.collection_check_boxes :funcionario_ids, Funcionario.all, :id, :nome do |cb| %>
        <div class="form-check">
          <%= cb.label class: "form-check-label" do %>
            <%= cb.check_box class: "form-check-input" %>
            <%= cb.text %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% else %>
    <div class="alert alert-warning">
      Nenhum funcionário cadastrado no sistema.<br/>
      <%= link_to 'Criar um funcionário', new_funcionario_path, class: 'text-primary' %>
    </div>
  <% end %>

  <div class="text-center">
    <%= form.submit "Salvar", class: "btn btn-primary", disabled: Funcionario.none? %>
  </div>
<% end %>
