<p style="color: green"><%= notice %></p>

<%= render @atendimento %>

<div>
  <%= link_to "Editar atendimento", edit_atendimento_path(@atendimento) %> |
  <%= link_to "Voltar para atendimentos", atendimentos_path %>

  <%= button_to "Excluir atendimento", @atendimento, method: :delete %>
</div>
