<%= form_with(model: venda_servico, local: true) do |form| %>
  <% if venda_servico.errors.any? %>
    <div class="alert alert-danger">
      <h4><%= pluralize(venda_servico.errors.count, "erro") %> <%= "encontrado".pluralize(venda_servico.errors.count) %>:</h4>

      <ul>
        <% venda_servico.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="mb-3">
    <%= form.label :cliente_id, class: "form-label" %>
    <%= form.collection_select :cliente_id, Cliente.all, :id, :nome, { prompt: "Selecione um cliente" },
                               class: 'form-select',
                               data: { controller: "cliente",  action: "cliente#update_select_veiculos" }
    %>
  </div>

  <div class="mb-3">
    <%= form.label :veiculo_id, "Veículo", class: "form-label" %>
    <%= form.collection_select :veiculo_id, [], :id, :modelo, { prompt: "Selecione um veículo" }, { class: 'form-select', id: 'veiculo_select' } %>
  </div>


  <div class="mb-3">
    <%= form.label :servico_id, class: "form-label" %>
    <%= form.collection_select :servico_id, Servico.all, :id, :nome, { prompt: "Selecione um serviço" }, { class: 'form-select' } %>
  </div>

  <div class="text-center">
    <%= form.submit "Salvar", class: "btn btn-primary" %>
  </div>
<% end %>