<h1>Gerenciamento de Oficina de Automóveis</h1>

<ul>
  <li><%= link_to "Administradores", administradors_path %></li>
  <li><%= link_to "Atendimentos", atendimentos_path %></li>
  <li><%= link_to "Clientes", clientes_path %></li>
  <li><%= link_to "Veículos", veiculos_path %></li>
  <li><%= link_to "Estoques", estoques_path %></li>
  <li><%= link_to "Peças", pecas_path %></li>
  <li><%= link_to "Funcionários", funcionarios_path %></li>
  <li><%= link_to "Serviços", servicos_path %></li>
</ul>
