<div class="container mt-5">
  <div class="row">
    <div class="col text-center">
      <h1 class="display-4">Gerenciamento de Oficina de Automóveis</h1>
    </div>
  </div>
  
  <div class="row justify-content-center mt-4">
    <div class="col-md-8">
      <ul class="list-group">
        <li class="list-group-item list-group-item-action">
          <%= link_to "Atendimentos", atendimentos_path, class: "text-decoration-none text-dark" %>
        </li>
        <li class="list-group-item list-group-item-action">
          <%= link_to "Clientes", clientes_path, class: "text-decoration-none text-dark" %>
        </li>
        <li class="list-group-item list-group-item-action">
          <%= link_to "Veículos", veiculos_path, class: "text-decoration-none text-dark" %>
        </li>
        <li class="list-group-item list-group-item-action">
          <%= link_to "Estoques", estoques_path, class: "text-decoration-none text-dark" %>
        </li>
        <li class="list-group-item list-group-item-action">
          <%= link_to "Peças", pecas_path, class: "text-decoration-none text-dark" %>
        </li>
        <li class="list-group-item list-group-item-action">
          <%= link_to "Funcionários", funcionarios_path, class: "text-decoration-none text-dark" %>
        </li>
        <li class="list-group-item list-group-item-action">
          <%= link_to "Serviços", servicos_path, class: "text-decoration-none text-dark" %>
        </li>
        <li class="list-group-item list-group-item-action">
          <%= link_to "Vendas", venda_servicos_path, class: "text-decoration-none text-dark" %>
        </li>
      </ul>
    </div>
  </div>
</div>
