<div id="<%= dom_id veiculo %>">
  <p>
    <strong>Placa:</strong>
    <%= veiculo.placa %>
  </p>

  <p>
    <strong>Modelo:</strong>
    <%= veiculo.modelo %>
  </p>

  <p>
    <strong>Ano:</strong>
    <%= veiculo.ano %>
  </p>

  <p>
    <strong>Cor:</strong>
    <%= veiculo.cor %>
  </p>

  <p>
    <strong>Quilometragem:</strong>
    <%= veiculo.quilometragem %>
  </p>

  <p>
    <strong>Chassi:</strong>
    <%= veiculo.chassi %>
  </p>

  <p>
    <strong>Cliente:</strong>
    <%= veiculo.cliente.nome %>
  </p>

</div>
