<%= form_with(model: funcionario, local: true) do |form| %>
  <% if funcionario.errors.any? %>
    <div class="alert alert-danger">
      <h4><%= pluralize(funcionario.errors.count, "erro") %> <%= "encontrado".pluralize(funcionario.errors.count) %>:</h4>
      <ul>
        <% funcionario.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :matricula, "Matrícula", class: "form-label" %>
    <%= form.text_field :matricula, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :nome, class: "form-label" %>
    <%= form.text_field :nome, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :cpf, "CPF", class: "form-label" %>
    <%= form.text_field :cpf, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :cargo, class: "form-label" %>
    <%= form.text_field :cargo, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :email, class: "form-label" %>
    <%= form.email_field :email, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :salario, "Salário", class: "form-label" %>
    <%= form.text_field :salario, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :data_admissao, "Data de admissão", class: "form-label" %>
    <%= form.date_field :data_admissao, class: "form-control" %>
  </div>

  <div class="text-end">
    <%= form.submit "Salvar", class: "btn btn-primary" %>
  </div>
<% end %>
