<div id="<%= dom_id funcionario %>">
  <p>
    <strong>Matrícula:</strong>
    <%= funcionario.matricula %>
  </p>

  <p>
    <strong>Nome:</strong>
    <%= funcionario.nome %>
  </p>

  <p>
    <strong>CPF:</strong>
    <%= funcionario.cpf %>
  </p>

  <p>
    <strong>Cargo:</strong>
    <%= funcionario.cargo %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= funcionario.email %>
  </p>

  <p>
    <strong>Salário:</strong>
    <%= funcionario.salario %>
  </p>

  <p>
    <strong>Data de admissão:</strong>
    <%= funcionario.data_admissao %>
  </p>

</div>
