<p style="color: green"><%= notice %></p>

<%= render @funcionario %>

<div>
  <%= link_to "Editar funcionario", edit_funcionario_path(@funcionario) %> |
  <%= link_to "Voltar para funcionarios", funcionarios_path %>

  <%= button_to "Excluir funcionario", @funcionario, method: :delete %>
</div>
