<%= content_for :title, "Detalhes do funcion치rio" %>

<div class="container mt-4">
  <% if notice %>
    <div class="alert alert-success">
      <%= notice %>
    </div>
  <% end %>

  <div class="mb-4">
    <%= render @funcionario %>
  </div>

  <div class="d-flex justify-content-between">
    <div>
      <%= link_to "Voltar para funcion치rios", funcionarios_path, class: "btn btn-secondary" %>
    </div>
    <div class="d-flex">
      <%= link_to "Editar funcion치rio", edit_funcionario_path(@funcionario), class: "btn btn-warning me-2" %>
      <%= confirm_delete_button "Excluir funcion치rio", @funcionario, { class: "btn btn-danger" } %>
    </div>
  </div>
</div>
